<!--
body{
	margin: 36px auto;
	width: 90%;
  background-color: #D15FEE;
}

h1 {
font-size: 1.5em;
}

#page{
	margin: 0 auto 53px;
	width: 93.75%; /* 900px / 960px */
	border: 1px solid black;
	border-radius: 15px;
}

#main{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        color: black;
        font-family: arial;
        font-size: 1em;
        padding: 1em;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 10px;

}

#other{
	float: right;
	width: 38%; /* 331px / 900px */
	background-color: white;
	font-family: arial;
	margin: auto;
	border-radius: 10px;

}



/* header section */
header {
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
	background-color: white;
	border-radius: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
}
h1.butter {
	font-size: 2em;
	font-family: "ByTheButterfly", serif }

h2.buttertwo {
  font-size:2em;
  text-indent: 3em;
	font-family: "ByTheButterfly", serif }


	

/* Menu CSS */ 

#cssmenu {
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
    
}


#cssmenu ul, #cssmenu ul li, #cssmenu 
ul li a{

	line-height: 1;
	font-family: 'ByTheButterfly', sans-serif;
        margin-left: auto;
        margin-right: auto;
        }


#cssmenu:before, #cssmenu:after, #cssmenu > ul:before, #cssmenu > ul:after {

	content: '';
	display: table;
	
}


#cssmenu:after, #cssmenu > ul:after {

	clear: both;
	
}



#cssmenu ul li:first-child a{
	
	margin: 4px 2px 0 0;
	
}

ul li {
    float: left;
    list-style: none;
    margin-right: 1em; 
    overflow: hidden;
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 
li a:hover {
    color: #7eb9be;
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}


/*
article{
	height: 200px;
	overflow: auto;
}
*/

article h1, article p{
 padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}

/* aside section */
aside {
	margin: 0 auto;
	width: 69.7885196%; /* 231px / 331px */
}
aside h2, aside p{
 padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}

/* footer section */
footer{
	clear: both;
	background-color: #FFFFFF;
	border-bottom-right-radius:015px;
	border-bottom-left-radius:015px;
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
	border-radius: 10px;
	font-family: arial;
	margin: auto;
}
-->

#home {
background-color: #D15FEE;
}


#content {
    margin: auto;
    text-align: left;
    width: 600px;
}
fieldset {
    border: 1px solid white;
    width: 80%;
}
fieldset.wrapper {
    border: 0 none;
    margin: 20px;
 	font-size: 1em;
    font-weight: bold;
}
fieldset.wrapper legend {
    color: Black;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
}
fieldset.wrapper > legend {
    font-size: 1em;
}
label {
    color: #005CB3;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
.required {
    color: #AA0000;
}
label.required:before {
    content: "* ";
}
span.required:after {
    color: #000000;
    content: " and are marked with an *";
}
input {
    border: 1px solid white;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
input.hidden {
    border: 0 none;
    display: inline;
    margin-bottom: 0;
    width: 0;
}
label input {
    border: 0 none;
    display: inline;
    margin: 0 5px 0 0;
    width: auto;
}
input.button {
    display: inline;
    margin: 0 0 0 100px;
    text-align: center;
    width: auto;
}
body {
    background-color: #D15FEE;

}
form {
    background: url(nav-bg.png);
    border: 4px solid white;
    
}


.mistake {
    background-color: #880000;
    border: thin solid #000000;
    color: #FFFFFF;
}
#errors ol li {
    color: red;
}

.igkt {
	position:absolute;
	left:20px;
	top:20px;
}

.left {
	position:relative;
	left:550px;
	top:-130px;
}
.right {
	position:relative;
	left:990px;
	top:-180px;
}
.first {
	width:100px;
	position:relative;
	right:-1170px;
	top:-190px;
}

p.aboutPic {
   text-align: center;
}



/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-2/nat112.cur), progress !important;} /* End http://www.cursors-4u.com */
