<!--
body{
	margin: 36px auto;
	width: 90%;
  background-color: #D15FEE;
}

p {
    padding-left:5em;
    width: 90%;
    font-weight: bold;
  
}

p.red{
    color: #FB1E61;
}

p.blue{
    color: #039CFF;
}

p.green{
    color: #00B516;
}

h1 {
font-size: 2.5em;
padding-left: 1em;
text-decoration: underline;
}
h2{
    padding-left: 2.5em;
    font-family: ariel;
    padding-top: .5em;
}

h2.red{
    color: #FB1E61;
}

h2.blue{
    color: #039CFF;
}

h2.green{
    color: #00B516;
}



h1.footer {
width: 60%;
margin-left: auto;
margin-right: auto;
text-decoration: none;
}
h2.footer {
width: 55%;
margin-left: auto;
margin-right: auto;
text-decoration: none;
}
#page{
	margin: 0 auto 53px;
	width: 93.75%; /* 900px / 960px */
	border: 1px solid black;
	border-radius: 15px;
}

#main{
        margin-left: auto;
        width: 60%;
        margin-right: auto;
        background-color: white;
        color: black;
        font-family: arial;
        font-size: 1em;
        padding: 1em;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 10px;

}
li.activePage{
    color: white;
    text-decoration: underline;
    font-size: 1.5em;
}
#other{
	background-color: white;
	font-family: arial;
	border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 66%;

}


/* header section */
header {
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
	background-color: white;
	border-radius: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
}

/* Menu CSS */ 

#cssmenu {
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
    
}


#cssmenu ul, #cssmenu ul li, #cssmenu 
ul li a{

	line-height: 1;
	font-family: 'ByTheButterfly', sans-serif;
        margin-left: auto;
        margin-right: auto;
        }


#cssmenu:before, #cssmenu:after, #cssmenu > ul:before, #cssmenu > ul:after {

	content: '';
	display: table;
	
}


#cssmenu:after, #cssmenu > ul:after {

	clear: both;
	
}



#cssmenu ul li:first-child a{
	
	margin: 4px 2px 0 0;
	
}

ul.productClass li{
    color: #FB1E61;
    font-family: ariel;
    font-weight: bold;
    font-size: 1em;  
    float: left;
}


ul li {
    float: left;
    list-style: none;
    margin-right: 1em; 
    overflow: hidden;
}
 
li a {
    color: #FFFF00;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 li a:active {
    color: white;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
li a:hover {
    color: #7eb9be;
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}


/*
article{
	height: 200px;
	overflow: auto;
}
*/



/* aside section 
aside {
	margin: 0 auto;
	width: 69.7885196%;  231px / 331px 
}
aside h2, aside p{
 padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px 
}
*/
/* footer section */
footer{
        clear: both;
        background-color: #FFFFFF;
        border-bottom-right-radius: 015px;
        border-bottom-left-radius: 015px;
        padding: 0.8em;
        border-radius: 10px;
        font-family: arial;
        margin-left: auto;
        width: 60%;
        margin-right: auto;
}
-->

#home {
background-color: #1B1B1E;
}


#content {
    margin: auto;
    text-align: left;
    width: 600px;
}
fieldset {
    border: 1px solid black;
   
}

fieldset.checkboxInline label{
    display: inline-block;
}

fieldset.radioone label{
    display:inline-block;
    
}

fieldset.wrapper {
    border: 0 none;
    font-size: 1em;
    font-weight: bold;
}
fieldset.wrapper legend {
    color: Black;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 1em;
}
fieldset.wrapper > legend {
    font-size: 1em;
}
label {
   color: #039CFF;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: .3em;
}
.required {
    color: #AA0000;
}
label.required:before {
    content: "* ";
}
span.required:after {
    color: #000000;
    content: " and are marked with an *";
}
input {
    border: 1px solid white;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    
}
input.hidden {
    border: 0 none;
    display: inline;
    margin-bottom: 0;
    width: 0;
}
label input {
    background-color: #FB1E61;
    border: thin solid #000000;
    color: black;
    display: inline;   
    width: auto;
}
input.button {
    display: inline;
    margin: 0 0 0 100px;
    text-align: center;
    width: auto;
}
body {
    background-color: #D15FEE;

}
form {
    background: url(nav-bg.png);
    border: 4px solid white;
    
}

label input#txtEmail {
    
    background-color: #FB1E61;
border: thin solid #000000;
color: white;
display: block;
width: 100%;
}

.mistake {
    background-color: #FB1E61;
    border: thin solid #000000;
    color: #FFFFFF;
}
#errors ol li {
    color: red;
}

.igkt {
	position:absolute;
	left:20px;
	top:20px;
}

.left {
	position:relative;
	left:550px;
	top:-130px;
}
.right {
	position:relative;
	left:990px;
	top:-180px;
}
.first {
	width:100px;
	position:relative;
	right:-1170px;
	top:-190px;
}

p.aboutPic {
   text-align: center;
}



/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-2/nat112.cur), progress !important;} /* End http://www.cursors-4u.com */
/* red color = D46A6A green = 2C8437 blue = 036F8D */